DemoBulkApproval/SOA/Schemas/updateHR_EMP.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/updateHR_EMP" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/updateHR_EMP" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="updateHR_EMPInput" type="updateHR_EMPInput"/>
   <xs:complexType name="updateHR_EMPInput">
      <xs:sequence>
         <xs:element name="LASTUPDATED" type="xs:dateTime" nillable="true"/>
         <xs:element name="BATCHID" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>